body {
}

.h1 {
  font-family: 'Lobster', cursive;

  font-size: 4rem;
  color: #dbd9d4;
  margin: 1rem 0 0 5rem;
}

.background {
  background-color: #bac;
}

.social-media {
  display: flex;

  margin: 0 5rem;
  font-size: 2rem;
}

.social-media__link {
  margin: 1rem .5rem;
  color: #dbd9d4;
}

a:hover {
  color: #f5883b;
}
